*{
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

body{
  font-family:monospace;
}

nav{
  background-color: hsl(0,0%,14%);
  margin-bottom: 5px;
}

nav ul li{
  font-family:cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 25px;
  background-color: red;
  border-radius: 10px;
  width: 100px;
  margin-right: 20px;
}

nav ul li a:hover{
  background-color: red;
  color: white;
}

nav ul li a{
  text-decoration: none;
  color: #FFD700;
}

.Main-Title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
}

.F1-Logo{
  border-radius: 8px;
  width: 1500px;
  height: 500px;
}

.F1-2022-Drivers{
  border-radius: 8px;
  width: 1000px;
  height: 500px;
}

.Welcome-Background{
  border: solid;
  border-image-slice: 5;
  border-width: 5px;
  border-image-source:
    linear-gradient(
      60deg,
      #b16ec4,
      #5f97b9);
}
